<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список парковочных мест</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
<div class="container">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="e-tabs mb-3 px-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/person/all}">Клиенты</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/status/all}">Статусы</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/car/all}">Машины</a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{/slot/all}">Парковочные места</a></li>
                </ul>
            </div>

            <div class="row flex-lg-nowrap">
                <div class="col mb-3">
                    <div class="e-panel card">
                        <div class="card-body">
                            <div class="card-title">
                                <h6 class="mr-2"><span>Список парковочных мест</span></h6>
                            </div>
                            <div class="e-table">
                                <div class="table-responsive table-lg mt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="text-nowrap align-middle text-center">Порядковый номер</th>
                                            <th scope="col" class="align-middle text-center">Номер парковочного места</th>
                                            <th scope="col" class="text-nowrap align-middle text-center">Стоимость резерва</th>
                                            <th scope="col" class="text-nowrap align-middle text-center">Статус слота</th>
                                            <th scope="col" class="text-nowrap align-middle text-center">Регистрационный номер машины</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="align-middle text-center" th:each="slot,iterStat : ${slots}">
                                            <td class="text-nowrap align-left" th:text="${iterStat.count}">Отсутствуют данные...</td>
                                            <td th:text="${slot.number}"></td>
                                            <td th:text="${slot.cost}"></td>
                                            <td th:text="${slot.status.status_string_rus}"></td>
                                            <td th:text="${slot.car.number}"></td>
                                            <td class="text-center align-middle">
                                                <div class="btn-group align-top">
                                                    <button class="btn btn-sm btn-outline-secondary badge" type="button" data-bs-toggle="modal" th:attr="data-bs-target='#'+${slot.id}">Редактировать</button>
                                                    <button class="btn btn-sm btn-outline-secondary badge" type="button" data-bs-toggle="modal" th:attr="data-bs-target='#'+${slot.id} + '-delete'"><i class="fa fa-trash"></i></button>
                                                </div>
                                                <div class="modal fade" role="dialog" tabindex="-1" th:attr="id=${slot.id}">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 th:text="'Обновить данные слота ['+ ${slot.id} + ']'" class="modal-title"></h5>
                                                                <button type="button" class="close" data-bs-dismiss="modal">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="py-1">
                                                                    <form th:attr="id=${slot.id} + '-update-form'" class="form" action="#" th:action="@{'/slot/' + ${slot.id} + '/update'}" th:object="${slot}" method="post">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <div class="form-group text-left align-left">
                                                                                            <label class="text-left align-left" for="number_update">Номер парковочного места</label>
                                                                                            <input class="form-control" id="number_update" th:field="*{number}" type="text" name="number" placeholder="36" required>
                                                                                            <label class="text-left align-left" for="cost_update">Стоимость резерва</label>
                                                                                            <input class="form-control" id="cost_update" th:field="*{cost}" type="text" name="number" placeholder="2600" required>

                                                                                            <label class="text-left align-left" for="car_update">Регистрационный номер машины</label>
                                                                                            <select id="car_update" th:field="*{car}" required>
                                                                                                <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.number} + ' (' + ${car.person.name} + ')'">
                                                                                                </option>
                                                                                            </select><br>

                                                                                            <label class="text-left align-left" for="status_update">Статус слота</label>
                                                                                            <select id="status_update" th:field="*{status}" required>
                                                                                                <option th:each="status : ${statuses}" th:value="${status.id}" th:text="${status.status_string_rus}">
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col d-flex justify-content-end">
                                                                                    <button class="btn btn-primary" th:attr="id=${slot.id} + '-button-update'">Сохранить</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade" role="dialog" tabindex="-1" th:attr="id=${slot.id} + '-delete'">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 th:text="'Вы действительно хотите удалить слот ['+ ${slot.id} + ']?'" class="modal-title"></h5>
                                                                <button type="button" class="close" data-bs-dismiss="modal">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="py-1">
                                                                    <form class="form" novalidate="" action="#" th:action="@{'/slot/' + ${slot.id} + '/delete'}" method="post">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="col d-flex justify-content-end">
                                                                                    <button class="btn btn-primary" type="submit" style="margin-right:25px;">Да</button>
                                                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center px-xl-3">
                                <button class="btn btn-success btn-block" type="button" data-bs-toggle="modal" data-bs-target="#person-create-modal">Новый слот</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- User Form Modal -->
        <div class="modal fade" role="dialog" tabindex="-1" id="person-create-modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Создать слот</h5>
                        <button type="button" class="close" data-bs-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="py-1">
                            <form class="form" action="#" th:action="@{/slot/create}" th:object="${slot}" method="post">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-left align-left" for="number_create">Номер парковочного места</label>
                                                    <input class="form-control" id="number_create" th:field="*{number}" type="text" name="number" placeholder="36" required>
                                                    <label class="text-left align-left" for="cost_create">Стоимость резерва</label>
                                                    <input class="form-control" id="cost_create" th:field="*{cost}" type="text" name="number" placeholder="2600" required>

                                                    <label class="text-left align-left" for="car_create">Регистрационный номер машины</label>
                                                    <select id="car_create" th:field="*{car}" required>
                                                        <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.number} + ' (' + ${car.person.name} + ')'">
                                                        </option>
                                                    </select><br>

                                                    <label class="text-left align-left" for="status_create">Статус слота</label>
                                                    <select id="status_create" th:field="*{status}" required>
                                                        <option th:each="status : ${statuses}" th:value="${status.id}" th:text="${status.status_string_rus}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                            <button class="btn btn-primary" type="submit">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/js/popper.min.js}" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script th:src="@{/js/validation.js}"></script>
</body>
</html>