<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список статусов</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="e-tabs mb-3 px-3">
        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link" th:href="@{/}">Главная</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/person/all}">Клиенты</a></li>
          <li class="nav-item"><a class="nav-link active" th:href="@{/status/all}">Статусы</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/car/all}">Машины</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/slot/all}">Парковочные места</a></li>
        </ul>
      </div>

      <div class="row flex-lg-nowrap">
        <div class="col mb-3">
          <div class="e-panel card">
            <div class="card-body">
              <div class="card-title">
                <h6 class="mr-2"><span>Список возможных статусов парковочного места</span></h6>
              </div>
              <div class="e-table">
                <div class="table-responsive table-lg mt-3">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="col" class="text-nowrap align-middle text-center">Порядковый номер</th>
                      <th scope="col" class="align-middle text-center">Идентификатор</th>
                      <th scope="col" class="text-nowrap align-middle text-center">Английское наименование</th>
                      <th scope="col" class="text-nowrap align-middle text-center">Русское наименование</th>
                      <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="align-middle text-center" th:each="status,iterStat : ${statuses}">
                      <td class="text-nowrap align-left" th:text="${iterStat.count}">Отсутствуют данные...</td>
                      <td th:text="${status.id}"></td>
                      <td th:text="${status.status_string}"></td>
                      <td th:text="${status.status_string_rus}"></td>
                      <td class="text-center align-middle">
                        <div class="btn-group align-top">
                          <button class="btn btn-sm btn-outline-secondary badge" type="button" data-bs-toggle="modal" th:attr="data-bs-target='#'+${status.id}">Редактировать</button>
                          <button class="btn btn-sm btn-outline-secondary badge" type="button" data-bs-toggle="modal" th:attr="data-bs-target='#'+${status.id} + '-delete'"><i class="fa fa-trash"></i></button>
                        </div>
                        <div class="modal fade" role="dialog" tabindex="-1" th:attr="id=${status.id}">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 th:text="'Обновить данные статуса ['+ ${status.id} + ']'" class="modal-title"></h5>
                                <button type="button" class="close" data-bs-dismiss="modal">
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="py-1">
                                  <form class="form" novalidate="" action="#" th:action="@{'/status/' + ${status.id} + '/update'}" th:object="${status}" method="post">
                                    <div class="row">
                                      <div class="col">
                                        <div class="row">
                                          <div class="col">
                                            <div class="form-group text-left align-left">
                                              <label class="text-left align-left" for="status_string_update">Английское наименование</label>
                                              <input class="form-control" id="status_string_update" th:field="*{status_string}" type="text" name="status_string" placeholder="qwerty">

                                              <label class="text-left align-left" for="status_string_rus_update">Русское наименование</label>
                                              <input class="form-control" id="status_string_rus_update" th:field="*{status_string_rus}" type="text" name="status_string_rus" placeholder="Занято">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                          <button class="btn btn-primary" type="submit">Сохранить</button>
                                        </div>
                                      </div>
                                    </div>
                                  </form>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" role="dialog" tabindex="-1" th:attr="id=${status.id} + '-delete'">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 th:text="'Вы действительно хотите удалить статус ['+ ${status.id} + ']?'" class="modal-title"></h5>
                                <button type="button" class="close" data-bs-dismiss="modal">
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="py-1">
                                  <form class="form" novalidate="" action="#" th:action="@{'/status/' + ${status.id} + '/delete'}" method="post">
                                    <div class="row">
                                      <div class="col">
                                        <div class="col d-flex justify-content-end">
                                          <button class="btn btn-primary" type="submit" style="margin-right:25px;">Да</button>
                                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="text-center px-xl-3">
                <button class="btn btn-success btn-block" type="button" data-bs-toggle="modal" data-bs-target="#person-create-modal">Новый статус</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- User Form Modal -->
    <div class="modal fade" role="dialog" tabindex="-1" id="person-create-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Создать статус</h5>
            <button type="button" class="close" data-bs-dismiss="modal">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-1">
              <form class="form" novalidate="" action="#" th:action="@{/status/create}" th:object="${status}" method="post">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label class="text-left align-left" for="status_string_create">Английское наименование</label>
                          <input class="form-control" id="status_string_create" th:field="*{status_string}" type="text" name="status_string" placeholder="qwerty">

                          <label class="text-left align-left" for="status_string_rus_create">Русское наименование</label>
                          <input class="form-control" id="status_string_rus_create" th:field="*{status_string_rus}" type="text" name="status_string_rus" placeholder="Занято">
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex justify-content-end">
                      <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script th:src="@{/js/popper.min.js}" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>